@font-face {
    font-family: 'arcadeFont'; src: url('assets/fonts/slkscr.ttf')
}

html, body {
    height: 100%;
    background-color: #24272B;
    display: flex;
    align-items: center;
    justify-content: center
}